<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <% for(let i=0; i< messages.length ; i++){ %>
            <div>
                <a href="/messages/<%= i %>">
                    <h2>
                        <%= messages[i].title %>
                    </h2>
                </a>
                <p>From: <%= messages[i].user %>
                </p>
                <p>Received: <%= messages[i].added %>
                </p>
            </div>
        <% } %>    
        <div><a href="/new">Create new message</a></div>

    </body>
</html>